@charset "UTF-8";

body{
  background: #3399ff;
}
.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}
.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}
.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}
.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}
.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}
.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}
.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}
.shade3{
  opacity: 0.7;
}
.shade4{
  opacity: 0.8;
}
.shade5{
  opacity: 0.9;
}
@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}


.LOGO{
	width:  100%;
	height: auto;
}

.iconfb{
	width: 34px;
}

.iconig{
	width: 50px;
}

.img-carousel {
    max-width: 70%;
    height: 408px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
	display: flex;
	flex-direction: row;
}

.footer-container {
	text-align: center;
}

nav {
	background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(51,153,255,1) 100%);
}

a {
	color: white;
}

p, dt, dd {
  font-size: large;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.1);
}

.grow:active {
  transform: scale(.90);
}

.espaciado{
  padding: 100px 0;
}

.card {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.card:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}